<td class="text-center">
                                                        <a href="product.html">
                                                    </td>
                                                    <td class="text-left"><a href="product.html"><%= product.name %></a></td>
                                                    <td class="text-right">x<%= order_item.quantity %></td>
                                                    <td class="text-right"><%= product.price %></td>
                                                    <td class="text-center">
                                                        <button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button>
                                                    </td>