<tr>
                                        <td class="text-center">
                                            <a href="product.html"><img src="image/product/sony_vaio_1-50x50.jpg" alt="Xitefun Causal Wear Fancy Shoes" title="Xitefun Causal Wear Fancy Shoes" class="img-thumbnail" /></a>
                                        </td>
                                        <td class="text-left"><a href="product.html">Xitefun Causal Wear Fancy Shoes</a></td>
                                        <td class="text-left">Product 114</td>
                                        <td class="text-left">
                                            <div class="input-group btn-block quantity">
                                                <input type="text" name="quantity" value="1" size="1" class="form-control" />
                                                <span class="input-group-btn">
                        <button type="submit" data-toggle="tooltip" title="Update" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                        <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-danger" onClick=""><i class="fa fa-times-circle"></i></button>
                        </span></div>
                                        </td>
                                        <td class="text-right">$902.00</td>
                                        <td class="text-right">$902.00</td>
                                    </tr>