            
                                        <li><a href=""><%= category.name %></a> <span class="down"></span>
                                            <ul>
                                            	 <% @sub_categories.each do |sub_category| %>
                                            	 <% if sub_category.category %>
                                                 <% if sub_category.category.name == category.name %>
                                                <%= render partial: "categories/sub_category1",object: sub_category, as: :sub_category %>
                                                <% end %>
                                                <% end %>
                                                <% end %>
                                            </ul>
                                        </li>